{block content}

    <h1>Foodata</h1><span><a n:href="Post:create">+ produkt</a></span>

    {foreach $posts as $post}
    <div class="product">
        <h2><a href="{link Post:show $post->id}">{$post->title}</a></h2><span>{$post->timestamp}</span>
        <p><strong>{$post->barcode}</strong></p>
        <p>{$post->content}</p>
    </div>
    {/foreach}

{/block}
